<div class="profile-friend group">
  <img class = "profile_pic_friend" src="<%= friend.get("image_url") %>" width="100px">
  <%= friend.escape('name_first') %>
  <%= friend.escape('name_last') %>

</div>
