<header id="header"></header>
<div class="content-root">
  <div id="main" data-current-user-id="<%=current_user.id %>"></div>
</div>

<script>
  $(document).ready(function(){
  myfacebook.initialize();
})
</script>
