<div class="header" role="navigation">
  <div class="header-nav">
    <a class="header-logo" href="#">myfacebook</a>


    <% if (myfacebook.currentUser.isSignedIn()) { %>

    <li class= "header-nav-icon">
      <a href="#/users/<%= myfacebook.currentUser.id %>">

          <img id="avatar_pic" src="<%= myfacebook.currentUser.get("image_url") %>">

        <span class="avatar_icon">
          <%= myfacebook.currentUser.escape("name_first") %></a>
        </span>
      </a>
    </li>

    <ul class="header-nav-right">
    <li class= "header-nav-right">
      <a href="#" class="gohome">Home</a>
    </li>
    <li class= "header-nav-right">
      <a href="#" id="sign-out-link">Sign Out</a>
    </li>

    <% } else { %>


      <form class= "log_in">

        <label class= "log_in_email">Email
          <br>
          <input class= "log_in_form_email" name="user[email]" type="text">
        </label>
        <label class= "log_in_password">Password
          <br>
          <input class= "log_in_form_password" name="user[password]" type="password">
        </label>

        <button class="button_log_in">Log In</button>
      </form>


    <% } %>

    </ul>
  </div>
</div>
