
<div class='users-index'>
  <h3>Meet Everybody</h3>



<ul class='users'>

  <% users.each(function (user) { %>
    <% if (user.id !== undefined) { %>

    <li>
      <a href="#/users/<%= user.id %>">
        <img class="friends_list_pics" src="<%= user.escape("image_url") %>" width="100px">
        <span class="friends_list_preview">
          <%= user.escape("name_first") %> <%= user.escape("name_last") %>
        </span>
      </a>
    </li>

    <%  } %>

  <% }); %>
</ul>
</div>
