
<div class='users-index'>
  <h3>Find Friends</h3>



<ul class='users'>

  <% users.each(function (user) { %>
    <% if (user.id !== undefined) { %>

    <li>
      <a href="#/users/<%= user.id %>">
        <img class="friends_list_pics" src="<%= user.escape("image_url") %>" width="100px">
        <span class="friends_list_preview">
          <%= user.escape("name_first") %> <%= user.escape("name_last") %>
        </span>
      </a>


        <% if (
          user.friendships().findWhere({
            user_id: user.get('id'),
            friend_id: myfacebook.currentUser.get('id')
          })){ %>

          <div class="approve_friend">
            <button>Approve Friend</button>
          </div>

          <div class="deny_friend">
            <button>Deny Friend</button>
          </div>

        <% } else if (
          user.requests().findWhere({ id: myfacebook.currentUser.get('id') }))
            { %>

         <p class='authorized'>Friend Request Sent.</p>
        <% } else {
         if (
              user.friends().findWhere({id: myfacebook.currentUser.id})
            ) { %>

              <div class="friended">
                Friends!
              </div>
                

          <%  } else { %>

              <div class="add_friend">
                <button>Add Friend</button>
              </div>

            <% } %>

        <% } %>






    </li>

    <%  } %>

  <% }); %>
</ul>
</div>
