
<div class='users-index'>
  <h3>Profiles</h3>



<ul class='users'>
  <% users.each(function (user) { %>
    <li>
      <a href="#/users/<%= user.id %>">
        <img src="<%= user.get("image_url") %>" width="100px">
        <span class="friends_list_preview">
          <%= user.escape("name_first") %> <%= user.escape("name_last") %>
        </span>
      </a>
    </li>
  <% }); %>
</ul>
</div>
