<h2>Show</h2>
<div class='show-user-header'>
  <h4><%= user.escape('name_first') %></h4>
  <h4><%= user.escape('name_last') %></h4>
</div>

<div class='lists-window'>
  <div id="lists">
  </div>

  <div id="list-form">
  </div>
</div>
