<div class="content-intro group">
Connect with friends and the<br>
world around you on myFacebook.

  <div class="content-welcome group">
  Welcome! This is a site built with Ruby on Rails<br>
  and Backbone. It is intended to showcase <br>
  the teachings at App Academy.<br>

  <p class="demo">In a hurry? Log In as Demo Users:
      <form id="log_in_guest">
        <input class= "log_in_form_email_guest" name="user[email]" type="text" value="carl@mail.com">
        <input class= "log_in_form_password_guest" name="user[password]" type="password" value="password">
        <button class="demo_sign_up">Carl</button>
      </form>
      <form id="log_in_guest">
        <input class= "log_in_form_email_guest" name="user[email]" type="text" value="dug@mail.com">
        <input class= "log_in_form_password_guest" name="user[password]" type="password" value="password">
        <button class="demo_sign_up">Dug</button>
      </form>
  </p>

  </div>

<br>


</div>




<% if (myfacebook.currentUser.isSignedIn() === false) { %>



  <div class="content-signup group">

  <b>Sign Up<br></b>
  <p class="blurb1">
  It’s free and always will be.<br>
  </p>

  <form id="form_sign_up" action="/users" method="post">

      <input class= "sign_up_input_first" name="user[name_first]" type="text" placeholder="First name"/>

      <input class= "sign_up_input_last" name="user[name_last]" type="text" placeholder="Last name"/><br>


      <input class= "sign_up_input" name="user[email]" type="text" placeholder="Email"/><br>

      <input class= "sign_up_input" name="user[password]" type="password" placeholder="New Password"/><br>
      </label><br>

      <label for="user_birthday">Birthday</label><br>
      <select name="user[birth_month]" id="birth_month">
        <option value="">Month</option>
        <option value="Jan">January</option>
        <option value="Feb">February</option>
        <option value="Mar">March</option>
        <option value="Apr">April</option>
        <option value="May">May</option>
        <option value="Jun">June</option>
        <option value="Jul">July</option>
        <option value="Aug">August</option>
        <option value="Sep">September</option>
        <option value="Oct">October</option>
        <option value="Nov">November</option>
        <option value="Dec">December</option>
      </select>


        <select name="user[birth_day]" id="birth_day">
          <option value="">Day</option>
          <% for (var i=1; i < 32; i++) { %>
            <option value="<%= i %>"><%=i%></option>

          <% } %>
        </select>

        <select name="user[birth_year]" id="birth_year">
          <option value="">Year</option>
          <% for (var i=2002; i >= 1905; i--) {%>
            <option value="<%= i %>"><%=i%></option>

          <% } %>
        </select>

        <br>
        <br>




            <input type="radio" name="user[gender]" id="female" value="f">
            <label for="user_sex_female">Female</label>

            <input type="radio" name="user[gender]" id="male" value="m">
            <label for="user_sex_male">Male</label>
            <br>
            <br>

            <p class="toc">
            By clicking Sign Up, you agree to our Terms and that you have<br>
              read our Data Policy, including our Cookie Use.<br>
              <br>
            </p>

          <input type="submit" value="Sign Up" class="button_sign_up"><br>

  </form>

  <p class="blurb1">or
    <a href="/auth/twitter">
    <img class="sign_in_twitter" src="sign-in-twitter.png" alt="Sign in with Twitter" title="Sign in with Twitter">
     </a>
  </p>






  </div>

<% } %>
