
<!-- (:user_id, :post_id, :body) -->

    <form class="comment-form">
      <ul class="errors">
      </ul>
        <textarea name="body" class="comment-area" placeholder="Write a comment..."></textarea>
        <input type="hidden" name="user_id" value="<%=myfacebook.currentUser.id%>">
        <input type="hidden" name="post_id" value="<%=post.id%>">
      <input type="submit" class="comment-submit" value="Reply">
    </form>
