<form class="form">
  <div class="form-group">
    <textarea class="form-control"></textarea>
  </div>
  <button class="btn btn-success">Add</button>
  <a href="#" class="close close-lg">&times;</a>
</form>



<li>
  <span class='header'>
    <a href='#' class='cancel'>
      <span
        class='glyphicon glyphicon-chevron-left pull-left'>
      </span>
    </a>
    Add
  </span>
</li>
<li class='divider'></li>
<li>
  <form>
    <label>
      <b>Title:</b>
    </label>
    <br>
    <input
      type='text'
      placeholder='Untitled Board'
      autofocus='true'>
    <button class='btn btn-success'>Create</button>
  </form>
</li>
