
<div class='posts-index'>
  <h3>Friends Posts</h3>


<ul class='posts'>
  <% posts.each(function (post) { %>
    <li>
    <%= users.getOrFetch(post.escape('author_id')).get('name_first') %>:
      <%= post.escape('body') %>

    </li>
  <% }); %>
</ul>
</div>
