
<div class='posts-index'>
  <h3>Friends Posts</h3>


<% debugger %>
<ul class='posts'>
  <% posts.each(function (post) { %>
    <li>

      <%= post.escape('body') %>

    </li>
  <% }); %>
</ul>
</div>
