<div class="post-modal-backdrop">
</div>

<div class="post-modal">
  <a class="post-modal-dismiss glyphicon glyphicon-remove" href="javascript:void(0)"></a>
  <h4><%= post.escape('title') %></h4>

  <div class="post-modal-items"></div>
</div>
