<div class="profile-post group"><%= post.escape('body') %>
  <% if (parseInt(post.get('user_id')) === myfacebook.currentUser.id) { %>
    <div class="delete_post">
      <button data="<%= post.id %>">X</button>
    </div>
  <% } %>
</div>
