<h1>Sign Up</h1>

<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>First name<br>
    <input name="user[name_first]" type="text"><br>
  </label><br>
  <label>Last name<br>
    <input name="user[name_last]" type="text"><br>
  </label><br>

  <label>Email<br>
    <input name="user[email]" type="text"><br>
  </label><br>

  <label>New password<br>
    <input name="user[password]" type="password"><br>
  </label><br>

  <label>Birthday<br>


  </label>

  <label>Gender<br>
    <radiogroup>
      <radio id="female" label="Female"/>
      <radio id="male" label="Male"/>
    </radiogroup>
  </label>

  <input type="submit" value="Submit" class="btn btn-primary"><br>
</form>
