/* PHASE 1: Header */

.header {
  background: #3b5998;
  color: #fff;
  border-bottom: 1px solid #ccc;
  height: 84px;
  /*padding: 20px;*/
}

body {
  font-family: "Tahoma", sans-serif;
  font-size: 36px;
  font-weight: 400;
  background: #eeeff4;
}

/* height navbar login: 84, height logged in: 44 */



.header-nav {
  color: white;
  margin: 0 auto;
  width: 1080px;
  height: 100%;
  /*border-left: 1px solid #f00;
  border-right: 1px solid #f00;*/
  font-weight: 700;
  font-family: "Lucida Grande", sans-serif;
}

.header-logo {
  height: 44px;
  float: left;
  font-size: 39px;
  font-weight: 700;
  margin: 20px 300px 20px 0;

}

.header-nav-icon {
  float: left;
  font-size: 16px;

}

.header-nav-icon:hover {
  background-color: #293e6a;
}

.avatar_icon {
  text-transform:capitalize;
  position: relative;
  top: -7px;
}

.sign_in_twitter {
  /*display: block;*/
  /*width: auto !important;*/
  margin: 25px 0 0 20px ;

  width: 158px  !important;
  height: 28px !important;
}

#avatar_pic {
  display: inline-block;
  width: 25px;
  height: 25px;
}


.friends_list_pics img {

  width: 60px;
  height: 60px;
}

a span {
  display: inline-block;

}

.header-nav-right a:first-child{
  margin: 15px 0 0 0;
}

.header-nav-right a {
  display: block;
  float: left;
  font-size: 12px;
  margin: 21px 0 0 0;
  padding: 10px 10px;
  /*border: 1px solid green;*/
}

.header-nav a:hover {
  background-color: #293e6a;
}

/* logged in */
.header-logged {
  background: #3b5998;
  color: #fff;
  border-bottom: 1px solid #ccc;
  height: 42px;
  /*padding: 20px;*/
}

.header-nav-right-logged a {
    display: block;
    float: left;
    font-size: 12px;
    /* margin: 10px 0 0 0; */
    padding: 5px 10px 5px 10px;
    /* border: 1px solid green; */
}

.header-logo-logged {
    height: 32px;
    float: left;
    font-size: 39px;
    font-weight: 700;
    padding: 0px 300px 0 0;
}

/*logged in*/



.log_in_email {
  float: left;
  width: 150px;
  height: 20px;
  color: white;
  font-size: 12px;
  font-weight: normal;

  padding: 14px 0 0 100px;
}

.log_in_password {
  float: left;
  width: 150px;
  height: 20px;
  color: white;
  font-size: 12px;
  font-weight: normal;

  padding: 14px 0 0 15px;
}

.log_in_form_email {
  background-color: white;
  float: left;
  width: 150px;
  height: 22px;
  color: black;
  border: 1px solid black;
}

.log_in_form_password {
  background-color: white;
  float: left;
  width: 150px;
  height: 22px;
  color: black;
  border: 1px solid black;

}


.button_log_in {
  color: white;
  background-color: #5972A8;
  font-size: 14px;
  font-weight: bold;
  margin: 30px 20px;
  padding: 3px 6px;
  border-top: 1px solid #90A7D8;
  border-right: 1px solid #1A356E;
  border-bottom: 1px solid #1A356E;
  border-left: 1px solid #1A356E;

}


.button_sign_out {
  color: white;
  background-color: #8b9dc3;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 6px;

}
