/*.content {
  position: relative;
  margin: 0 auto;
  background: white;
  width: 900px;
  color: #333;

}*/

img {
  display: block;
  width: 100px;
  height: auto;
}


.container {
  background: lightgrey;
  color: black;
  width: 1980px;
  height: 1000px;
  /*padding: 20px;*/
}


.content-intro {
  display: block;
  float: left;

  width: 500px;
  font-size: 26px;
  font-weight: bold;
  padding: 70px 0 0 440px;
}

.content-signup {
  float: left;
  width: 500px;
  padding: 22px 0 0 75px;

  /*padding: 0px 1010px;*/

}



.sign_up_input {
  color: black;
  border: 1px solid grey;
}

.form_sign_up {
  float: left;
  padding: 20px 0 0 0;
  font-size: 20px;
}

.button_sign_up {
  color: white;
  background-color: #62A24F;
  padding: 10px 50px;

}

.submit > button {
  position: relative;
  padding: 10px 20px;
  color: #f00;
}


.blurb1 {
  font-size: 18px;
  color: black;

}

.toc {
  font-size: 11px;
  color: grey;
}

div .users-index {
  padding: 0 0 100px 400px;

}

div .user-show {
  padding: 0 0 100px 400px;

}

/*button {
  border: 1px solid red;
  background-color: white;
  color: black;
}*/
