/*.content {
  position: relative;
  margin: 0 auto;
  background: white;
  width: 900px;
  color: #333;

}*/

img {
  display: block;
  width: 100px;
  height: auto;
}

.authorized {
  /*width: 500px;*/
  text-align: center;
  font-size: 24px;
  margin: 0 auto;
  padding: 20px 0;

}

.profile_preview {
  margin: 0 auto;
  /*width: 500px;*/


}

.profile_preview > p {
  margin: 0 auto;
  text-align: center;

}

.profile_pic {
  width: 200px;
  float: left;
}

.avatar {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.hidden {
  opacity: 0;
}

.button-avatar-select {
  padding: 5px;
  font-size: 16px;
  color: #fff;
  background: #0c0;
}

#preview-post-image {
  width: 100px;
  margin: 0 auto;
}

.button-avatar-select:hover {
  cursor: pointer;
}


.button-save {
  padding: 5px 10px;
  margin: 0 20px 0 0;
  font-size: 16px;
  color: #fff;
  background: #0c0;
}

.button-cancel {
  padding: 5px 10px;
  color: #fff;
  background: #f00;
  font-size: 16px;

}



.edit_profile {
  float: right;
  padding: 5px 10px;
  border: 1px solid black;
  width: 85px;
  color: #fff;
  background: #8b9dc3;
  font-size: 16px;
  display: inline-block;

}

/* USER SHOW */
.profile-main {
  margin: 0 auto;

}

.user-show {
  /*width: 500px;*/
  margin: 0 auto;

}

.profile_name {
  
}

.user-info {
  margin: 0 auto;

}

.profile_pic_main {
  width: 200px;
  /*margin:  0 auto;*/
  float: left;
}


/* CONTAINER ?? */

.users-index {
  width: 600px;
  margin: 0 auto;


}

.users-index > h3 {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  color: black;
}


.container {

  background: #edf0f5;
  color: black;
  /*border: 1px solid black;*/
  height: 1000px;

}

.content {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 1080px;
  color: black;

}

.content-intro {
  float: left;
  width: 500px;
  font-size: 27px;
  font-weight: bold;

  padding: 60px 0 0 40px;
    /*border: 1px solid black;*/

}

.content-welcome {
  float: left;
  width: 450px;
  font-size: 17px;
  padding: 20px 0 0 20px;
    /*border: 1px solid black;*/
}

.content-signup {
    /*margin:0 auto;*/
    /*border: 1px solid black;*/
  font-family: 'Open Sans', sans-serif;
  float: right;
  width: 400px;
  padding: 22px 0 0 0;
  margin-right: 50px;
}

.blurb1 {
  font-size: 18px;
  font-weight: 100;
  color: black;

}





.sign_up_input_first {
  width: 190px;
  color: black;
  border: 1px solid grey;
  background: white;
  border-radius: 3px;
}

.sign_up_input_last {
  float: right;
  width: 190px;
  color: black;
  border: 1px solid grey;
  background: white;
  border-radius: 3px;
}


.sign_up_input {
  width: 400px;
  color: black;
  margin: 0 0 10px 0;
  background: white;
  border: 1px solid grey;
  border-radius: 3px;
}


.form_sign_up {
  float: left;
  padding: 20px 0 0 0;
  font-size: 20px;
}

.button_sign_up {
  color: white;
  background-color: #62A24F;
  padding: 10px 30px 10px 70px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100px;
}

.submit > button {
  position: relative;
  padding: 10px 20px;
  color: #f00;
}




.toc {
  font-size: 12px;
  font-weight: normal;
  color: grey;
}



/*button {
  border: 1px solid red;
  background-color: white;
  color: black;
}*/
