.profile-main-center{
  width: 500px;
  float: left;
}

.profile-posts {
  width: 500px;
  float: left;
  font-weight: lighter;
}

.post-display {
  background-color: #e3e3e3;
  width: 260px;
  margin: 0 5px;
  border-radius: 3px;
  max-height: 100%;
  padding: 4px 3px 3px;
  border: 1px solid gray;
  display: block;
  border: 10px solid red;
}


.post-form  {
  padding: 20px 0 0 0;

  margin: 0 auto;
  width: 500px;
  float: left;
  display: block;

}

.post-area  {
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
  height: 60px;
  width: 460px;
  background-color: white;
  border: 2px solid #dfe3ee;
  border-radius: 5px;
}


.comment-form  {
  /*padding: 20px 0 0 0;*/
  margin: 0 auto;
  width: 500px;
  float: left;
  display: block;

}

.comment-area  {
  margin: 0 auto;
  padding: 0 20px;
  font-size: 20px;
  /* height: 30px; */
  width: 350px;
  background-color: white;
  border: 2px solid #dfe3ee;
  border-radius: 5px;
}
.comment-submit {
  border: 1px solid #dfe3ee;
  background-color: #8b9dc3;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 6px;
  margin: 20px 0 0 0;
  position: relative;
  top: -20px;
  border-radius: 5px;
  /*float: right;*/
}


/*this button is margin moved from the red post-form container*/

.post-submit {
  border: 1px solid #dfe3ee;
  background-color: #3b5998;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 16px;
  margin: 20px 0 0 0;
  position: relative;
  top: -20px;
  border-radius: 5px;
  float: right;
}



.profile-post {
  float: left;
  border: 2px solid #dfe3ee;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 18px;
  display: block;
  width: 450px;
  /*margin: 50px;*/
  margin: 25px 25px 25px 0;
  padding: 25px;
}

.delete_post {
  width: 20px;
  border: 1px solid #dfe3ee;
  background-color: white;
  color: #8b9dc3;
  font-weight: bold;
  position: relative;
  top: -92px;
  left: 448px;
  text-align: center;
  border-radius: 3px;

}

.delete_comment {
  width: 20px;
  border: 1px solid #dfe3ee;
  background-color: white;
  color: #8b9dc3;
  font-weight: bold;
  /*position: relative;
  top: -42px;
  left: 448px;*/
  text-align: center;
  border-radius: 3px;
  float: left;
}

.profile-friends {
  width: 330px;
  text-align: center;
  float: right;
  text-transform: capitalize;
  font-size: 18px;
}


div.profile-friend {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100px;
    /*margin: 0 0 20px 0;*/
}
.profile_pic_friend img {
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: grey;
}
.caption {
  display: block;
  position: relative;
  top: -30px;
  font-size: 12px;
}
