.post-display {
  background-color: #e3e3e3;
  width: 260px;
  margin: 0 5px;
  border-radius: 3px;
  max-height: 100%;
  padding: 4px 3px 3px;
  border: 1px solid gray;

  display: block;

  border: 10px solid red;
}


.post-form  {
  margin: 0 auto;
  width: 500px;
  /*border: 1px solid red;*/

  display: block;
}

.post-area  {
  margin: 0 auto;
  font-size: 20px;
  height: 200px;
  width: 450px;
  background-color: white;
  border: 1px solid blue;
}


/*this button is margin moved from the red post-form container*/

.post-submit {
  border: 1px solid #3b5998;
  background-color: #3b5998;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 20px 50px 20px 20px;

  border-radius: 5px;
  float:right;
  /*bottom: 0;
  right: 0;*/
}


.profile-post {
  float: left;
  border: 1px solid blue;
  background-color: white;
  color: black;
  font-size: 18px;
  display: block;
  width: 450px;
  /*margin: 50px;*/
  margin: 25px;
  padding: 25px;
}

.delete_post {
  float: right;
  width: 60px;
  border: 1px solid red;
  background-color: red;
  color: white;
  font-weight: bold;

}
