.index {
  /*width: 500px;
  float: left;*/
}

.lonely {
  width: 400px;
  margin: 0 auto;
}

.noposts{
  color: grey;
  font-weight: bold;
  font-size: 42px;
  text-align: center;
  margin: 50px 0;
}

#find_friends{
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0 auto;
  color: black;
  background-color: white;
  padding: 10px 20px;
  position: relative;
  left: 75px;
  font-size: 18px;
  font-weight: bold;
}

.index-posts {
  width: 500px;
  float: left;
  font-weight: lighter;
}

.index-display {
  background-color: #e3e3e3;
  width: 260px;
  margin: 0 5px;
  border-radius: 3px;
  max-height: 100%;
  padding: 4px 3px 3px;
  border: 1px solid gray;
  display: block;
  border: 10px solid red;
}


.index-post-form  {
  margin: 10px auto 0 auto;
  width: 500px;
  float: left;
  display: block;
  background-color: white;
  border: 2px solid #dfe3ee;
  border-radius: 5px;
}

.index-post-form h3 {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 10px 20px;
    border-bottom: 2px solid #dfe3ee;
}

.author-post {
  overflow: hidden;
}

.index-post-area  {
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
  height: 60px;
  width: 380px;
  background-color: white;
  /* border-top: 2px solid #dfe3ee; */
  /*border-bottom: 2px solid #dfe3ee;*/
  float: left;

}

.submit-row {
   border-top: 2px solid #dfe3ee;
}

.index-post-submit {
  border: 1px solid #dfe3ee;
  background-color: #3b5998;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 16px;
  /*margin: 20px 10px -7px 0;
  position: relative;
  top: -20px;*/
  border-radius: 5px;
  float: right;
}



/*actual index post*/
.index-post {
  float: left;
  /*border: 2px solid #dfe3ee;*/
  border-top: 2px solid #dfe3ee;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 18px;
  display: block;
  width: 450px;
  margin: 25px 25px 25px 0;
  padding: 25px;
}

.index-author {
  /*border: 1px solid green;*/
}

.index-post p {

  float: left;
  display: block;
  margin: 0 50px 0 10px;
}

.index-author-preview {
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: grey;
    float: left;
    /*margin: 20px 0 0 20px;*/
}

#currentUser-preview {
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: grey;
  float: left;
  margin: 20px 0 0 20px;
}

.index-author-preview-name {
  margin: 0 50px 0 10px;
  text-transform: capitalize;
  float: left;
  display: block;
  font-weight: bold;
}

.index-author-preview-name:hover {

  text-transform: capitalize;
  text-decoration: underline;
}

/* post message */
.index-post li {
  /*border: 1px solid red;*/
  margin: 10px 0 0 0;
}

/*comment message*/
.comment-post {
  float: left;
  border-top: 2px solid #dfe3ee;
  /*border-radius: 5px;*/
  background-color: white;
  color: black;
  font-size: 18px;
  display: block;
  width: 425px;
  /*margin: 25px 25px 25px 0;*/
  /*padding: 25px;*/
}
