/*103 x 28*/
.friended{
  position: relative;
  bottom: 50px;
  left: 75px;
  padding: 5px 20px;
  color: black;
  background: #dfe3ee;
  font-size: 12px;
  font-weight: 500;
  border-radius: 3px;
  /*box-shadow: 0 3px 0 0 #3b5998;*/
  margin: 0 auto;
  display: block;
  width: 50px;
}


.add_friend {
  /*margin: 20px 0 0 0;*/
  /*padding: 0 0 3px 0;*/
  position: relative;
  bottom: 50px;
  left: 75px;
}

.add_friend > button {

  /*position: relative;*/
  padding: 5px 20px;
  color: white;
  background: #3b5998;
  font-size: 12px;
  font-weight: 500;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 #3b5998;
  margin: 0 auto;
  display: block;
  width: 60px;
}

.add_friend > button:hover {
  background: #8b9dc3;
}

.add_friend > button:active {
  top: 3px;
  background: #dfe3ee;
  box-shadow: none;
}


.approve_friend {
  /*margin: 20px 0 0 0;*/
  padding: 0 0 3px 0;
  position: relative;
  bottom: 80px;
  left: 75px;
}

.approve_friend > button {
  position: relative;
  padding: 5px 20px;
  color: #fff;
  background: #0c0;
  font-size: 12px;
  font-weight: 500;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 #070;
  margin: 0 auto;
  display: block;
}

.approve_friend > button:hover {
  background: #0b0;
}

.approve_friend > button:active {
  top: 3px;
  background: #0a0;
  box-shadow: none;
}



.deny_friend {

  position: relative;
  bottom: 80px;
  left: 75px;
}

.deny_friend > button {


  padding: 5px 20px;
  color: #fff;
  background: #f00;
  font-size: 12px;
  font-weight: 500;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 #070;
  margin: 0 auto;
  display: block;
}

.deny_friend > button:hover {
  background: #c00;
}

.deny_friend > button:active {
  top: 3px;
  background: #c00;
  box-shadow: none;
}



.remove_friend {
  /*margin: 20px 0 0 0;*/
  padding: 0 0 3px 0;
  position: relative;
  top: 175px;
}

.remove_friend > button {

  position: relative;
  padding: 5px 20px;
  color: #fff;
  background: #f00;
  font-size: 12px;
  font-weight: 500;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 #990000;
  margin: 0 auto;
  display: block;
}

.remove_friend > button:hover {
  background: #c00;
}

.remove_friend > button:active {
  top: 3px;
  background: #c00;
  box-shadow: none;
}

.demo {
  padding: 20px 0 0 0;
  color: red;
  font-size: 24px;
  font-weight: bold;
}

.demo_sign_up {
  font-size: 18px;
  color: white;
  /* background-color: #62A24F; */
  background-color: #3b5998;
  padding: 10px 30px 10px 30px;
  border: 1px solid black;
  border-radius: 5px;
  width: 40px;
}
form#log_in_guest {
  margin: 0 100px;
}

.log_in_form_email_guest{
  visibility: hidden;
}

.log_in_form_password_guest{
  visibility: hidden;
}

/*.button-alternative {
  padding: 0 0 0 5px;
}

.button-alternative strong {
  padding: 0 0 0 5px;
  font-weight: bold;
  cursor: pointer;
}

.button-alternative strong:hover {
  color: #f00;
}*/
