<nav class="header header-default" role="navigation">
<div class="container container-fluid">
  <div class="header-nav">
      <a class="header-logo" href="#">myfacebook</a>
  </div>

  <div class="collapse header-collapse" id="bs-example-header-collapse-1">
    <ul class="nav header-nav header-right">
    <% if signed_in? %>

      <li><%= button_to "Sign out", session_url, method: :delete, class: "btn btn-primary header-btn" %></li>
    <% else %>
      <li><%= "display login view here" %></li>

    <% end %>
    </ul>
  </div>
</div>
</nav>



<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:errors].join("<br>").html_safe %>
</div>
<% end %>
