<div class="header" role="navigation">
  <div class="header-nav">
    <a class="header-logo" href="#">myfacebook</a>

    <ul class="nav header-nav header-right">

    <% if signed_in? %>

      <li><%= button_to "Home", root_url, method: :get, class: "button_home" %></li>

      <li><%= button_to "Sign out", session_url, method: :delete, class: "button_log_in header-btn" %></li>
    <% else %>



      <li><%= render partial: "sessions/login" %></li>

    <% end %>
    </ul>
  </div>
</div>




<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:errors].join("<br>").html_safe %>
</div>
<% end %>
